*, body
  font-family: "Open Sans", Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased


@import sass/theme
@import sass/netistrar-font
@import sass/vars
@import sass/utils
@import sass/config
@import sass/layout
@import sass/grid
@import sass/panel
@import sass/type
@import sass/colours
@import sass/menus
@import sass/forms
@import sass/borders
@import sass/margin
@import sass/padding
@import sass/order
@import sass/dragdroplist
@import sass/buttons

.accent
  color: mat-color($trade-accent)

.primary
  color: mat-color($trade-primary)

.warn
  color: mat-color($trade-warn)
