/* You can add global styles to this file, and also import other style files */
$base-font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif

app-login
  display: flex
  align-items: center
  height: 100vh

@import "../../sass/net1/reset"
@import "sass/colours"
@import "../../sass/net1/settings"
@import "../../sass/net1/netistrar-font"
@import "sass/third-party-modular-scale"
@import "../../sass/net1/typography"
@import "../../sass/net1/grid"
@import "../../sass/layout"
@import "../../sass/net1/buttons-links"
@import "../../sass/net1/forms"
@import "../../sass/net1/forms-extra"
@import "../../sass/net1/slider"
@import "../../sass/net1/padding"
@import "../../sass/net1/margin"
@import "../../sass/net1/global"
@import "../../sass/net1/sidemenu"
@import "../../sass/net1/borders"
@import "../../sass/net1/img"
@import "../../sass/panel"
@import "../../sass/forms-plus"
