<div class="flex align-center ml1 mt2">
    <h4 class="flex"><mat-icon class="mr050">shopping_cart</mat-icon>KINICART</h4>
</div>

<div class="menu-items">
    <a [routerLink]="['/account-summary']" class="menu-item">
        <span>My Account</span>
        <mat-icon>chevron_right</mat-icon>
    </a>
</div>

<div class="mt2">
    <app-products-menu class="menu-items"
                      *ngIf="sideMenus.indexOf(SideMenuService.PRODUCTS_MENU) > -1"></app-products-menu>

    <app-account-menu class="menu-items"
                       *ngIf="sideMenus.indexOf(SideMenuService.ACCOUNT_MENU) > -1"></app-account-menu>
</div>

<div class="menu-items">
    <a href="javascript:void(0)" class="menu-item">
        Help
        <mat-icon>launch</mat-icon>
    </a>
    <a href="javascript:void(0)" (click)="signOut()" class="menu-item">
        <span style="color: #b00">
            Logout
        </span>
    </a>
</div>
