<footer class="bk white-text mb0 flex1">

  <div class="grid px1 px2l">
   <div class="py2 flex-grid">
      <div class="w-50">
        <p class="ge-text mb025">&copy; {{ dateFormat "2006" now }} Oxford Information Labs Limited.</p>
        <p class="small muted-text">Registered in England and Wales No. 04520925</p>

      </div>
      <div class="w-50 flex-grid justify-end small">
        <a class="inv ib pr1 ga-text" href="/terms/">Terms</a>
        <a class="inv ib ga-text" href="/privacy/">Privacy</a>
      </div>
    </div>
  </div>


</footer>
